.card-info {
	background: $light-brown;
	min-height:40px;
	padding: 15px 15px 0 15px;
}
.card-info-inner {
	background: white;
	padding: 20px 30px;
}
.card-info .info-image {
	width: 15%;
}
.card-info .info-image img {
	
}